
<link rel="stylesheet" href="adminMenuContent.scss?__inline">

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">面板标题</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">每个人都有一个</a></li>
        <li><a href="#">我把最深沉的秘密放</a></li>
        <li><a href="#">你不懂我，我不</a></li>
        <li><a href="#">每个人都有一道伤</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">面板标题</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">每个人都有一个</a></li>
        <li><a href="#">我把最深沉的秘密放</a></li>
        <li><a href="#">你不懂我，我不</a></li>
        <li><a href="#">每个人都有一道伤</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">面板标题</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">每个人都有一个</a></li>
        <li><a href="#">我把最深沉的秘密放</a></li>
        <li><a href="#">你不懂我，我不</a></li>
        <li><a href="#">每个人都有一道伤</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">面板标题</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">每个人都有一个</a></li>
        <li><a href="#">我把最深沉的秘密放</a></li>
        <li><a href="#">你不懂我，我不</a></li>
        <li><a href="#">每个人都有一道伤</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">面板标题</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">每个人都有一个</a></li>
        <li><a href="#">我把最深沉的秘密放</a></li>
        <li><a href="#">你不懂我，我不</a></li>
        <li><a href="#">每个人都有一道伤</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">面板标题</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">每个人都有一个</a></li>
        <li><a href="#">我把最深沉的秘密放</a></li>
        <li><a href="#">你不懂我，我不</a></li>
        <li><a href="#">每个人都有一道伤</a></li>
    </ul>
</div>
