
<link rel="stylesheet" href="adminMenuContent.scss?__inline">

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">充值管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">回复任务管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">流量任务管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">微信任务管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理微信原文任务<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理微信原文任务</a></li>
        <li><a href="#">待处理微信阅读点赞任务<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理微信阅读点赞任务</a></li>
        <li><a href="#">待处理公众粉丝回复任务<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理公众粉丝回复任务</a></li>
        <li><a href="#">待处理微信个人好友任务<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理微信个人好友任务</a></li>
        <li><a href="#">待处理微信好友地区扫码<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理微信好友地区扫码</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">美拍任务管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">微博任务管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">提现任务管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">用户管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">查看用户账户</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">价格&状态管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">论坛模块</a></li>
        <li><a href="#">流量模块</a></li>
        <li><a href="#">微信/美拍/微博</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">公告管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">发布公告</a></li>
        <li><a href="#">历史公告</a></li>
        <li><a href="#">增加公告类型</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">错误信息管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>

<div class="am-panel am-panel-primary adminMenuContent">
    <div class="am-panel-hd">
        <h3 class="am-panel-title">问题反馈信息管理</h3>
    </div>
    <ul class="am-list am-list-static">
        <li><a href="#">待处理<span class="tips"> ( 2 )</span></a></li>
        <li><a href="#">已处理</a></li>
    </ul>
</div>
