
<link rel="stylesheet" href="adminMenuContent.scss?__inline">


<section data-am-widget="accordion" class="am-accordion am-accordion-gapped adminMenuContent" data-am-accordion='{  }'>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            回复任务管理
            <span class="tips reply"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/reply/wait">待处理 <span class="tips reply"></span> </a></li>
                    <li><a href="/admin/reply/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            流量任务管理
            <span class="tips flow"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/flow/wait">待处理 <span class="tips flow"></span> </a></li>
                    <li><a href="/admin/flow/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            微信任务管理
            <span class="tips wxArticle, wxLike, wxReply, wxFriend, wxCode"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/WX/article/wait">待处理微信原文任务 <span class="tips wxArticle"></span> </a></li>
                    <li><a href="/admin/WX/article/already">已处理微信原文任务</a></li>
                    <li><a href="/admin/WX/like/wait">待处理微信阅读点赞任务 <span class="tips wxLike"></span> </a></li>
                    <li><a href="/admin/WX/like/already">已处理微信阅读点赞任务</a></li>
                    <li><a href="/admin/WX/reply/wait">待处理公众粉丝回复任务 <span class="tips wxReply"></span> </a></li>
                    <li><a href="/admin/WX/reply/already">已处理公众粉丝回复任务</a></li>
                    <li><a href="/admin/WX/friend/wait">待处理微信个人好友任务 <span class="tips wxFriend"></span> </a></li>
                    <li><a href="/admin/WX/friend/already">已处理微信个人好友任务</a></li>
                    <li><a href="/admin/WX/code/wait">待处理微信好友地区扫码 <span class="tips wxCode"></span> </a></li>
                    <li><a href="/admin/WX/code/already">已处理微信好友地区扫码</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            美拍任务管理
            <span class="tips mp"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/MP/wait">待处理 <span class="tips mp"></span> </a></li>
                    <li><a href="/admin/MP/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            微博任务管理
            <span class="tips wb"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/WB/wait">待处理 <span class="tips wb"></span> </a></li>
                    <li><a href="/admin/WB/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            错误信息管理
            <span class="tips error"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/error/wait">待处理 <span class="tips error"></span> </a></li>
                    <li><a href="/admin/error/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            问题反馈信息管理
            <span class="tips feedback"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/feedback/wait">待处理 <span class="tips feedback"></span> </a></li>
                    <li><a href="/admin/feedback/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

</section>

<script src="/socket.io/socket.io.js"></script>
