<link rel="stylesheet" href="header1.scss?__inline">

<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-u-lg-10 am-u-lg-centered">
        <div class="am-header-left am-header-nav">
            <a href="/client/home">
                <i class="am-header-icon am-icon-home am-hide-lg"></i>
                <h1 class="am-hide-sm" style="background: url(/static/images/favicon.ico) no-repeat;
                     background-size: 32px 32px; background-position: 6px 6px; padding-left:40px;">
                    678网络营销(推广)平台
                </h1>
            </a>
            <a href="#phone-link" style="margin: -13px;">
                <span class="am-show-sm">￥ <%= money %></span>
            </a>
        </div>

        <h1 class="am-header-title am-hide-sm">
            可用余额: ￥ <%= money %>
        </h1>

        <div class="am-header-right am-header-nav">

            <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>
                    <span class="am-show-sm">￥ </span>
                    <span class="am-hide-sm">资金管理 </span>
                    <span class="am-icon-caret-down"></span>
                </button>
                <ul class="am-dropdown-content header-dropdown-content">
                    <li><a href="/user/consume/history">消费记录</a></li>
                    <li><a href="/user/withdraw">申请提现</a></li>
                </ul>
            </div>
            <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>
                    <i class="am-icon-user am-show-sm"> </i>
                    <span class="am-hide-sm"><%=username%> (<span id="headerUserRole"><%=role%></span>)</span>
                    <input id="username" type="hidden" value="<%=username%>">
                    <span class="am-icon-caret-down"></span>
                </button>
                <ul class="am-dropdown-content header-dropdown-content">
                    <li><a href="/user/changePwd">修改密码</a></li>
                    <li><a href="/user/info">我的详情</a></li>
                    <li><a href="/user/lowerUser">我的下级用户</a></li>
                    <li><a href="/user/lowerUser/profit">下级返利</a></li>
                    <li><a href="/user/my/price">代理价格</a></li>
                    <li><a href="/user/feedback">问题反馈</a></li>
                    <li><a href="/user/errorSummary">错误信息汇总</a></li>
                    <li><a id="removeAutoLogin" href="/user/logout">退出登陆</a></li>
                </ul>
            </div>

            <a href="#right-link" class="">
                <!-- 按钮触发器， 需要指定 target -->
                <button class="am-btn am-btn-primary  am-show-sm" data-am-offcanvas="{target: '#adminMenu', effect: 'push'}">
                    <i class="am-header-icon am-icon-bars"></i>
                </button>
            </a>
        </div>
    </div>
</header>




