<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminWXreplyWait.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal am-text-center">

                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户</th>
                            <th>下单日期</th>
                            <th>微信账号</th>
                            <th>国/省/市</th>
                            <th>性别</th>
                            <th>粉丝数量</th>
                            <th>回复数量</th>
                            <th>回复信息</th>
                            <th>加粉限速</th>
                            <th>回复限速</th>
                            <th>模式</th>
                            <th>总价</th>
                            <th>备注</th>
                            <th>返还A</th>
                            <th>返还B</th>
                            <th>返还C</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < orders.length; i++){ %>
                        <tr>
                            <td class="am-text-middle"><%= i + 1 %></td>
                            <td class="am-text-middle"><%= orders[i].user %></td>
                            <td class="am-text-middle"><%= orders[i].createTime %></td>
                            <td class="am-text-middle">
                                <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                   title="<%= orders[i].account %>"
                                   data-clipboard-text="<%= orders[i].account %>">复制</a>
                            </td>
                            <td class="am-text-middle"><%= orders[i].country %>/<%= orders[i].province %>/<%= orders[i].city %></td>
                            <td class="am-text-middle"><%= orders[i].gender %></td>
                            <td class="am-text-middle"><%= orders[i].num %></td>
                            <td class="am-text-middle"><%= orders[i].num2 %></td>
                            <td class="am-text-middle">
                                <% if(orders[i].replyInfo != undefined && orders[i].replyInfo != ''){ %>
                                <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                   title="<%= orders[i].replyInfo %>"
                                   data-clipboard-text="<%= orders[i].replyInfo %>">复制</a>
                                <% } %>
                            </td>
                            <td class="am-text-middle"><%= orders[i].fansSpeed %></td>
                            <td class="am-text-middle"><%= orders[i].speed %></td>
                            <td class="am-text-middle"><%= orders[i].mode %></td>
                            <td class="am-text-middle"><%= orders[i].totalPrice %></td>
                            <td class="am-text-middle"><%= orders[i].remark %></td>
                            <td class="am-text-middle"><%= orders[i].adminProfit %></td>
                            <td class="am-text-middle"><%= orders[i].topProfit %></td>
                            <td class="am-text-middle"><%= orders[i].superProfit %></td>
                            <td class="am-text-middle">
                                <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs">执行</button>
                                <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs">拒绝</button>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/js/clipboard.js"></script>
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('adminMenuContent');

    $(function() {
        var clip = new Clipboard('.clipboard');
        clip.on('success', function(e) {
            $(e.trigger).removeClass('am-btn-primary').addClass('am-btn-danger');
            layer.msg('复制成功！', {
                time: 1000
            });
        })
    })
</script>

</body>
</html>