<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminUserUpdatePrice.scss?__inline">
</head>
<body>
　　　　　　
<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal priceFlow">
                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th>价格</th>
                            <th>上级返利</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < userUpdatePrices.length; i++){ %>
                        <tr>
                            <td class="num"><%= i + 1 %></td>
                            <td class="name"><%= userUpdatePrices[i].name %></td>
                            <td class="price"><%= userUpdatePrices[i].price %></td>
                            <td class="toParent"><%= userUpdatePrices[i].toParent %></td>
                            <td class="operation">
                                <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs edit">修改</button>
                                <input type="hidden" value="<%= userUpdatePrices[i]._id %>">
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('adminMenuContent');
    require('adminUserUpdatePrice');
</script>

</body>
</html>