<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminWithdrawWait.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal am-text-center">

                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户</th>
                            <th>申请日期</th>
                            <th>之前余额</th>
                            <th>提现金额</th>
                            <th>之后余额</th>
                            <th>当前余额</th>
                            <th>支付宝账户</th>
                            <th>支付宝昵称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < withdraws.length; i++){ %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td>
                                <% if(withdraws[i].username){ %>
                                <%= withdraws[i].username %>
                                <% } %>
                                <% if(withdraws[i].user){ %>
                                withdraws[i].user
                                <% } %>
                            </td>
                            <td><%= withdraws[i].createTime %></td>
                            <td><%= withdraws[i].userOldFunds %></td>
                            <td><%= withdraws[i].funds %></td>
                            <td><%= withdraws[i].userNowFunds %></td>
                            <td>
                                <span class="userNowFunds"></span><br>
                                <a class="am-btn am-btn-primary am-radius am-btn-xs getUserFunds"
                                   href="/admin/withdraw/get/user/funds?id=<%= withdraws[i].userId %>">获取</a>
                            </td>
                            <td>
                                <input type="text" value="<%= withdraws[i].alipayCount %>" style="width: 56px;"><br/>
                                <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                   title="<%= withdraws[i].alipayCount %>"
                                   data-clipboard-text="<%= withdraws[i].alipayCount %>">复制</a>
                            </td>
                            <td><%= withdraws[i].alipayName %></td>
                            <td>
                                <a class="am-btn am-btn-primary am-radius am-btn-xs"
                                   href="/admin/withdraw/complete?id=<%= withdraws[i]._id %>&url=<%= path %>">提现</a>
                                <a class="am-btn am-btn-primary am-radius am-btn-xs refused"
                                   href="/admin/withdraw/refused?id=<%= withdraws[i]._id %>&userId=<%= withdraws[i].userId %>&funds=<%= withdraws[i].funds %>&url=<%= path %>">拒绝</a>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                    <input type="hidden" value="<%= pages %>" id="pages">
                    <div id="laypage"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/js/clipboard.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('adminMenuContent');
    require('adminWithdrawWait');
</script>

</body>
</html>