
.layui-layer-content{
  overflow: hidden!important;
}

.layui-layer-page{
  -webkit-box-shadow: 16px 16px 25px #4c4c4c !important;
  -moz-box-shadow: 16px 16px 25px #4c4c4c !important;
  box-shadow: 16px 16px 25px #4c4c4c !important;
}
