<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./clientHome.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <ul class="am-list">

                    <% for(var i = 0; i < placards.length; i++) { %>
                    <li>
                        <a href="##">
                            <span>【<%= placards[i].placardName %>】 </span>
                            <span><%= placards[i].sendTime %> &nbsp;</span>
                            <span><%= placards[i].placardContent %></span>
                        </a>
                    </li>
                    <% } %>

                </ul>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

</body>
</html>