<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="WXcommentAdd.scss?__inline">
</head>
<body>

<% if(true){ %>
<div id="app">

    <link rel="import" href="../../components/header/header1.html?__inline">
    <link rel="import" href="../../components/menu/menu1.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/menuContent/menuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-g-collapse">

                    <div class="am-panel am-panel-danger">
                        <div class="am-panel-hd prompt-title">提示</div>
                        <div class="am-panel-bd">

                            1.本平台不允许评论的内容包括：政治敏感话题、违法、违规、反动、未经官方证实的负面新闻、侮辱型、攻击性词语、维权话题、虚假广告等内容，如被发现立即封停帐号，余额不退，所有单子清空，并永久停止使用本平台任何业务，新开帐号也一律封杀，每天专人检查，严格执行，如有求情者一并封杀！<br/>
                            2.为保证系统执行效率，单次录入不超过2000条;评论内容不能有电话,网址,QQ,邮箱等联系方式。<br/>
                            3.单个连接的任务，如果提交的评论内容大量重复使用，或者评论内容里含有大量相同关键词的，可以提交到平台执行，但是，平台评论成功后帖子里没有显示或者差量的，一律不补，一律不退款！<br/>

                        </div>
                    </div>

                    <validator name="forumcomment">
                        <form class="am-form am-form-horizontal" method="post" action="/WX/comment/add">
                            <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-1">
                                    <span>任务模式</span>
                                </label>
                                <div class="am-u-sm-9 am-u-lg-11 input">
                                    <label class="am-u-sm-6 am-u-lg-1 radioLable">
                                        <input class="am-radius am-input-sm" type="radio" name="model" value="comment" checked>
                                        普通评论
                                    </label>
                                    <label class="am-u-sm-6 am-u-lg-1 am-u-end radioLable">
                                        <input class="am-radius am-input-sm" type="radio" name="model" value="fansComment">
                                        关注评论
                                    </label>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-1">
                                    <span>任务价格</span>
                                </label>
                                <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                                    <input id="priceShow" class="am-radius am-input-sm input" type="text"
                                           value="￥ <%= price %>/个" disabled>
                                    <input id="price" type="hidden" value="<%= price %>">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-1">
                                    <span>文章地址</span>
                                </label>
                                <div class="am-u-sm-9 am-u-lg-11">
                                    <input id="address" class="am-radius am-input-sm input" type="text"
                                           placeholder="文章地址" name="address">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-1">
                                    <span>文章标题</span>
                                </label>
                                <div class="am-u-sm-9 am-u-lg-11">
                                    <input id="title" class="am-radius am-input-sm input" type="text" disabled>
                                    <input id="commitTitle" type="hidden" name="title">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-1">
                                    <span>评论内容</span>
                                </label>
                                <div class="am-u-sm-9 am-u-lg-11 am-u-end">
                               <textarea id="contentSelf" class="am-radius" rows="3" placeholder="【每行一条评论】"
                                         name="content"></textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-1">
                                    <span>任务总价</span>
                                </label>
                                <div id="showTotalPrice" class="am-u-sm-9 am-u-lg-11 am-u-end" style="line-height: 32px;">
                                    ￥ <span id="totalPrice">0</span> ;&nbsp;&nbsp;
                                    合计: <span id="num">0</span> 条
                                    <span class="tips">( 最低5条起评，不足5条按5条计算 )</span><br/>
                                    <input id="userFunds" type="hidden" value="<%= money %>">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-offset-3 am-u-lg-11 am-u-lg-offset-1">
                                    <button id="commit" type="submit" class="am-btn am-btn-primary am-radius">提交任务</button>
                                </div>
                            </div>
                        </form>
                    </validator>

                </div>
            </div>
        </div>
    </div>
</div>
<% }else{ %>
<!--<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="forumReply" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd am-g-collapse">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">

                        1.本平台不允许评论的内容包括：政治敏感话题、违法、违规、反动、未经官方证实的负面新闻、侮辱型、攻击性词语、维权话题、虚假广告等内容，如被发现立即封停帐号，余额不退，所有单子清空，并永久停止使用本平台任何业务，新开帐号也一律封杀，每天专人检查，严格执行，如有求情者一并封杀！<br/>
                        2.为保证系统执行效率，单次录入不超过2000条;评论内容不能有电话,网址,QQ,邮箱等联系方式。<br/>
                        3.单个连接的任务，如果提交的评论内容大量重复使用，或者评论内容里含有大量相同关键词的，可以提交到平台执行，但是，平台评论成功后帖子里没有显示或者差量的，一律不补，一律不退款！<br/>

                    </div>
                </div>

                <validator name="forumcomment">
                    <form class="am-form am-form-horizontal" method="post" action="/WX/comment/add">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>任务模式</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11 input">
                                <label class="am-u-sm-6 am-u-lg-1 radioLable">
                                    <input class="am-radius am-input-sm" type="radio" name="model" value="comment" checked>
                                    普通评论
                                </label>
                                <label class="am-u-sm-6 am-u-lg-1 am-u-end radioLable">
                                    <input class="am-radius am-input-sm" type="radio" name="model" value="fansComment">
                                    关注评论
                                </label>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>任务价格</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                                <input id="priceShow" class="am-radius am-input-sm input" type="text"
                                       value="￥ <%= price %>/个" disabled>
                                <input id="price" type="hidden" value="<%= price %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>文章地址</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11">
                                <input id="address" class="am-radius am-input-sm input" type="text"
                                       placeholder="文章地址" name="address">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>文章标题</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11">
                                <input id="title" class="am-radius am-input-sm input" type="text" disabled>
                                <input id="commitTitle" type="hidden" name="title">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>评论内容</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11 am-u-end">
                               <textarea id="contentSelf" class="am-radius" rows="3" placeholder="【每行一条评论】"
                                         name="content"></textarea>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>任务总价</span>
                            </label>
                            <div id="showTotalPrice" class="am-u-sm-9 am-u-lg-11 am-u-end" style="line-height: 32px;">
                                ￥ <span id="totalPrice">0</span> ;&nbsp;&nbsp;
                                合计: <span id="num">0</span> 条
                                <span class="tips">( 最低5条起评，不足5条按5条计算 )</span><br/>
                                <input id="userFunds" type="hidden" value="<%= money %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-offset-3 am-u-lg-11 am-u-lg-offset-1">
                                <button id="commit" type="submit" class="am-btn am-btn-primary am-radius">提交任务</button>
                            </div>
                        </div>
                    </form>
                </validator>

            </div>
        </div>

    </div>
</div>-->
<% } %>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('WXcommentAdd');
</script>


</body>
</html>