<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="ZBtuiguanglist.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header1.html?__inline">
    <link rel="import" href="../../components/menu/menu1.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/menuContent/menuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd">

                    <div class="am-scrollable-horizontal am-text-center WXfriend-content">
                        <table class="am-table am-table-bordered am-table-radius am-text-nowrap">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>创建时间</th>
                                <th>任务类型</th>
                                <th>任务地址</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>总价</th>
                                <th>状态</th>
                                <th>退单信息</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% for(var i = 0; i < orders.length; i++){ %>
                            <tr class="<% if((orders[i].status == '执行中' || orders[i].status == '已完成') && orders[i].error == undefined){ %> am-primary
                        <% }else if(orders[i].status == '已退款'){ %> am-danger
                        <% }else if((orders[i].status == '执行中' || orders[i].status == '已完成') && orders[i].error != undefined){ %> am-active <% } %>">
                                <td class="am-text-middle">
                                    <input type="hidden" id="orderID" value="<%= orders[i]._id %>">
                                    <%= i + 1  %>
                                </td>
                                <td class="am-text-middle"><%= orders[i].createTime %></td>
                                <td class="am-text-middle">
                                    <%= orders[i].smallTypeName %>
                                </td>
                                <td class="am-text-middle">
                                    <%= orders[i].address %>
                                </td>
                                <td class="am-text-middle">
                                    ￥ <%= orders[i].price %>
                                </td>
                                <td class="am-text-middle">
                                    <%= orders[i].num %>
                                </td>
                                <td class="am-text-middle"><%= orders[i].totalPrice %></td>
                                <td class="am-text-middle"><%= orders[i].status %></td>
                                <td class="am-text-middle">
                                    <% if((orders[i].status == '执行中' || orders[i].status == '已完成') && orders[i].error != undefined){ %>

                                        <% if(orders[i].errorInfo != undefined){ %>
                                        <div class="operation">
                                            <a class="am-text-truncate text-break break-css am-badge-warning am-radius"
                                               title="<%= orders[i].errorInfo %>">
                                                <%= orders[i].errorInfo %>
                                            </a>
                                        </div>
                                        <% } %>

                                        <% if(orders[i].errorDealInfo != undefined){ %>
                                        <div class="operation">
                                            <a class="am-text-truncate text-break break-css am-badge-primary am-radius"
                                               title="<%= orders[i].errorDealInfo %>">
                                                <%= orders[i].errorDealInfo %>
                                            </a>
                                        </div>
                                        <% } %>

                                    <% }else if(orders[i].status == '已退款'){ %>

                                        <% if(orders[i].errorInfo != undefined){ %>
                                        <div class="operation">
                                            <a class="am-text-truncate text-break break-css am-badge-warning am-radius"
                                               title="<%= orders[i].errorInfo %>">
                                                <%= orders[i].errorInfo %>
                                            </a>
                                        </div>
                                        <% } %>

                                        <% if(orders[i].errorDealInfo != undefined){ %>
                                        <div class="operation">
                                            <a class="am-text-truncate text-break break-css am-badge-primary am-radius"
                                               title="<%= orders[i].errorDealInfo %>">
                                                <%= orders[i].errorDealInfo %>
                                            </a>
                                        </div>
                                        <% } %>

                                        <% if(orders[i].refundInfo != undefined){ %>
                                        <div class="operation">
                                            <a class="am-text-truncate text-break break-css am-badge-danger am-radius"
                                               title="<%= orders[i].refundInfo %>">
                                                <%= orders[i].refundInfo %>
                                            </a>
                                        </div>
                                        <% } %>

                                    <% } %>
                                </td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>

                        <input type="hidden" value="<%= pages %>" id="pages">
                        <div id="laypage"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('ZBtuiguanglist');
</script>

</body>
</html>