
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="ZBtuiguang.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header1.html?__inline">
    <link rel="import" href="../../components/menu/menu1.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/menuContent/menuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-g-collapse">

                    <div class="am-panel am-panel-danger">
                        <div class="am-panel-hd prompt-title">提示</div>
                        <div class="am-panel-bd">
                            <div class="am-g am-g-collapse">
                                <span class="tips">新增直播业务：</span><br/>
                                1、新增业务：抖音业务，快手，全民k歌 。<br/>
                                2、业务类型：粉丝，评论，分享，播放，点赞，收藏等。<br/>
                                3、所有下单业务，通过单个视频链接下单即可。<br/>
                            </div>
                        </div>
                    </div>

                    <!--<a href="http://826ds.cn/" type="button" class="am-btn am-btn-primary am-btn-block am-radius am-btn-lg"-->
                       <!--target="_blank">立即下单</a>-->

                    <form class="am-form am-form-horizontal" method="post" action="/user/zhibo/add">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                选择商品
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11 am-g-collapse">
                                <div class="am-u-sm-12 am-u-lg-2">
                                    <select id="productType" class="am-radius am-input-sm input" name="smallType">
                                        <option value="">选择商品</option>
                                        <% for(var i = 0; i < products.length; i++){ %>
                                        <option value="<%= products[i].smallType %>" data_price="<%= products[i].price %>"><%= products[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                商品价格
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11">
                                <input id="priceShow" class="am-radius am-input-sm input"
                                       type="text" name="address" disabled>
                                <input type="hidden" id="price">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>任务链接</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11">
                                <input id="address" class="am-radius am-input-sm input" type="text"
                                       placeholder="请输入单个视频链接" name="address">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                下单数量
                            </label>
                            <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                                <input id="num" class="am-radius am-input-sm input" type="text"
                                       placeholder="最少100" name="num">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                任务总价
                            </label>
                            <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                                <input id="total" class="am-radius am-input-sm input" type="text" value="￥ 0" disabled>
                                <input id="userFunds" type="hidden" value="<%= money %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-offset-3 am-u-lg-11 am-u-lg-offset-1">
                                <button id="commit" type="submit" class="am-btn am-btn-primary am-radius">提交任务</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('./ZBtuiguang');
</script>

</body>
</html>