.tips{
  color: red;
}

.prompt-title{
  text-align: center;
  font-size: large;
  font-weight:bold;
}

.disable{
  margin: 0;
  padding-top: 8px;
  line-height: 30px;
}

label span{
  border: 1px solid #ccc;
  float: right;
  line-height: 30px;
  width: 80px;
  text-align: center;
  margin: 0;
  font-weight: normal;
}

.radioLable{
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  margin: 0;
  font-weight: 400;
  background: #ECCEB1;
}

@media (min-width: 600px) {
  form{
    padding-right: 88px;
  }
}

@media (min-width: 1000px) {
  form{
    padding: 0;
  }
}