

.prompt-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.currentRole {
  cursor: default;
}

.td-title {
  vertical-align: middle!important;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: #EDFAED;
  border-bottom: 3px solid #81b381;
}

.td-border-bottom {
  border-bottom: 3px solid #81b381;
}

.td-color {
  color: red;
  font-weight: 500;
}

.am-panel-success{
  margin: 0;
  ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .indexColor {
    color: #5EB95E;
  }

  li{
    padding: 10px 22px;
    border-bottom: 1px solid #ddd;
    list-style: none;
  }
}



