<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./userPrice.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-g">
                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <div id="userUpRole" style="padding-bottom: 10px;">
                            <% if(role == '超级代理'){ %>
                            <button type="button" data-id="<%= userUpdatePrice.upToTop._id %>"
                               class="am-btn am-btn-primary am-btn-sm">
                                <%= userUpdatePrice.upToTop.name %>(<%= userUpdatePrice.upToTop.price %>)<br/>
                                立即升级
                            </button>
                            <% } %>

                            <% if(role == '金牌代理'){ %>
                            <button type="button" data-id="<%= userUpdatePrice.upToSuper._id %>"
                               class="am-btn am-btn-success am-btn-sm">
                                <%= userUpdatePrice.upToSuper.name %>(<%= userUpdatePrice.upToSuper.price %>)<br/>
                                立即升级
                            </button>
                            <% } %>
                        </div>
                        <table class="am-table am-table-radius am-table-striped am-table-hover am-text-nowrap">
                            <caption>微信业务</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>业务类型</th>
                                <th>顶级代理</th>
                                <th>超级代理</th>
                                <th>金牌代理</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < wxs.length; i ++){ %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= wxs[i].name %></td>
                                    <td><%= wxs[i].topPrice %></td>
                                    <td><%= wxs[i].superPrice %></td>
                                    <td><%= wxs[i].goldPrice %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <table class="am-table am-table-radius am-table-striped am-table-hover am-text-nowrap">
                            <caption>微博业务</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>业务类型</th>
                                <th>顶级代理</th>
                                <th>超级代理</th>
                                <th>金牌代理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < wbs.length; i ++){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= wbs[i].name %></td>
                                <td><%= wbs[i].topPrice %></td>
                                <td><%= wbs[i].superPrice %></td>
                                <td><%= wbs[i].goldPrice %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <table class="am-table am-table-radius am-table-striped am-table-hover am-text-nowrap">
                            <caption>人工任务</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>业务类型</th>
                                <th>顶级代理</th>
                                <th>超级代理</th>
                                <th>金牌代理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < handles.length; i ++){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= handles[i].name %></td>
                                <td><%= handles[i].topPrice %></td>
                                <td><%= handles[i].superPrice %></td>
                                <td><%= handles[i].goldPrice %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <table class="am-table am-table-radius am-table-striped am-table-hover am-text-nowrap">
                            <caption>美拍业务</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>业务类型</th>
                                <th>顶级代理</th>
                                <th>超级代理</th>
                                <th>金牌代理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < mps.length; i ++){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= mps[i].name %></td>
                                <td><%= mps[i].topPrice %></td>
                                <td><%= mps[i].superPrice %></td>
                                <td><%= mps[i].goldPrice %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <table class="am-table am-table-radius am-table-striped am-table-hover am-text-nowrap">
                            <caption>流量业务</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>业务类型</th>
                                <th>顶级代理</th>
                                <th>超级代理</th>
                                <th>金牌代理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < flows.length; i ++){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= flows[i].name %></td>
                                <td><%= flows[i].topPrice %></td>
                                <td><%= flows[i].superPrice %></td>
                                <td><%= flows[i].goldPrice %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-sm-12 am-scrollable-horizontal">
                        <table class="am-table am-table-radius am-table-striped am-table-hover am-text-nowrap">
                            <caption>论坛回复</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>业务类型</th>
                                <th>顶级代理</th>
                                <th>超级代理</th>
                                <th>金牌代理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#</td>
                                <td>论坛回复</td>
                                <td><%= forums[0].topPrice %></td>
                                <td><%= forums[0].superPrice %></td>
                                <td><%= forums[0].goldPrice %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <% if(false){ %>
                    <div class="am-u-sm-12 am-u-lg-6">
                        <div class="am-panel am-panel-success">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">论坛回复</h3>
                            </div>
                            <ul>
                                <% for(var i = 0; i < forums.length; i ++){ %>
                                <li class="am-u-sm-2 indexColor"><%= i + 1 %></li>
                                <li class="am-u-sm-6 am-u-lg-7 am-text-center am-text-truncate"><%= forums[i].name %></li>
                                <% if(role == '顶级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= forums[i].topPrice %></li>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= forums[i].superPrice %></li>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= forums[i].goldPrice %></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-lg-6">
                        <div class="am-panel am-panel-success">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">人工任务</h3>
                            </div>
                            <ul>
                                <% for(var i = 0; i < handles.length; i ++){ %>
                                <li class="am-u-sm-2 indexColor"><%= i + 1 %></li>
                                <li class="am-u-sm-6 am-u-lg-7 am-text-center am-text-truncate"><%= handles[i].name %></li>
                                <% if(role == '顶级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= handles[i].topPrice %></li>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= handles[i].superPrice %></li>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= handles[i].goldPrice %></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-lg-6">
                        <div class="am-panel am-panel-success">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">流量业务</h3>
                            </div>
                            <ul>
                                <% for(var i = 0; i < flows.length; i ++){ %>
                                <li class="am-u-sm-2 indexColor"><%= i + 1 %></li>
                                <li class="am-u-sm-6 am-u-lg-7 am-text-center am-text-truncate"><%= flows[i].name %></li>
                                <% if(role == '顶级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= flows[i].topPrice %></li>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= flows[i].superPrice %></li>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= flows[i].goldPrice %></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-lg-6">
                        <div class="am-panel am-panel-success">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">微信业务</h3>
                            </div>
                            <ul>
                                <% for(var i = 0; i < wxs.length; i ++){ %>
                                <li class="am-u-sm-2 indexColor"><%= i + 1 %></li>
                                <li class="am-u-sm-6 am-u-lg-7 am-text-center am-text-truncate"><%= wxs[i].name %></li>
                                <% if(role == '顶级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= wxs[i].topPrice %></li>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= wxs[i].superPrice %></li>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= wxs[i].goldPrice %></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-lg-6">
                        <div class="am-panel am-panel-success">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">美拍业务</h3>
                            </div>
                            <ul>
                                <% for(var i = 0; i < mps.length; i ++){ %>
                                <li class="am-u-sm-2 indexColor"><%= i + 1 %></li>
                                <li class="am-u-sm-6 am-u-lg-7 am-text-center am-text-truncate"><%= mps[i].name %></li>
                                <% if(role == '顶级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= mps[i].topPrice %></li>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= mps[i].superPrice %></li>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= mps[i].goldPrice %></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-lg-6">
                        <div class="am-panel am-panel-success">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">微博业务</h3>
                            </div>
                            <ul>
                                <% for(var i = 0; i < wbs.length; i ++){ %>
                                <li class="am-u-sm-2 indexColor"><%= i + 1 %></li>
                                <li class="am-u-sm-6 am-u-lg-7 am-text-center am-text-truncate"><%= wbs[i].name %></li>
                                <% if(role == '顶级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= wbs[i].topPrice %></li>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= wbs[i].superPrice %></li>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <li class="am-u-sm-4 am-u-lg-3">￥<%= wbs[i].goldPrice %></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    $(function() {
        $('#userUpRole button').click(function() {
            var self = $(this);
            var id = self.attr('data-id');
            $.post('/user/update/user/role', {userUpdatePriceId: id}, function(data) {
                if(data.isOK) {
                    //修改用户的可用余额
                    $('.userCash').text(data.userNowFunds);
                    $('#headerUserRole').text(data.nowRole);
                    self.remove();
                    layer.msg(data.msg);
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                }else{
                    layer.msg(data.msg);
                }
            })
        })
    })
</script>
</body>
</html>