<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./lowerUser.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-scrollable-horizontal am-text-center">
                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                        <thead>
                        <tr>
                            <th>账号</th>
                            <th>创建时间</th>
                            <th>等级</th>
                            <th>下线/人</th>
                            <th>余额</th>
                            <th>最后登陆时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < users.length; i++){ %>
                        <tr>
                            <td><%= users[i].username %></td>
                            <td><%= users[i].createTime %></td>
                            <td><%= users[i].role %></td>
                            <td><%= users[i].childNum %></td>
                            <td>￥ <%= users[i].funds %></td>
                            <td><%= users[i].lastLoginTime %></td>
                            <td  class="am-text-middle">
                                <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs">删除</button>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

</body>
</html>