<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminFeedbackWait.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal am-text-center">

                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户</th>
                            <th>提交日期</th>
                            <th>反馈内容</th>
                            <th>处理人意见</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < feedbacks.length; i++){ %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= feedbacks[i].user %></td>
                            <td><%= feedbacks[i].createTime %></td>
                            <td class="feedback-content"><%= feedbacks[i].content %></td>
                            <td>
                                <form id="<%= feedbacks[i]._id %>" method="post" action="/admin/feedback/wait/handle">
                                    <input type="hidden" value="<%= feedbacks[i]._id %>" name="id">
                                    <textarea rows="1" cols="30" placeholder="处理意见" name="treatAdvice"></textarea>
                                </form>
                            </td>
                            <td>
                                <button form="<%= feedbacks[i]._id %>" type="submit" class="am-btn am-btn-primary am-radius am-btn-xs">处理</button>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->


</body>
</html>