<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="forumTemplate.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="forumReply" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd am-g-collapse">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">

                        1.本平台不允许评论的内容包括：政治敏感话题、违法、违规、反动、未经官方证实的负面新闻、侮辱型、攻击性词语、维权话题、虚假广告等内容，如被发现立即封停帐号，余额不退，所有单子清空，并永久停止使用本平台任何业务，新开帐号也一律封杀，每天专人检查，严格执行，如有求情者一并封杀！<br/>
                        2.为保证系统执行效率，单次录入不超过2000条;评论内容不能有电话,网址,QQ,邮箱等联系方式。<br/>
                        3.单个连接的任务，如果提交的评论内容大量重复使用，或者评论内容里含有大量相同关键词的，可以提交到平台执行，但是，平台评论成功后帖子里没有显示或者差量的，一律不补，一律不退款！<br/>

                    </div>
                </div>

                <form class="am-form am-form-horizontal" method="post" action="/forum/comment/add">
                    <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>任务地址</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11">
                            <input id="address" class="am-radius am-input-sm" type="text"
                                   placeholder="请填写评论地址" name="address">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>任务标题</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11">
                            <input id="title" class="am-radius am-input-sm" type="text" name="title" readonly>
                            <input id="smallType" type="hidden" name="smallType">
                            <input id="num" type="hidden" name="num">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>价格明细</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                            <input id="showPrice" class="am-radius am-input-sm" type="text" value="￥ 0 /条" disabled>
                            <input id="price" type="hidden">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="startTime" class="am-u-sm-3 am-u-lg-1">
                            <span>定时时间</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                            <input id="startTime" class="am-radius am-input-sm" type="text" placeholder="点击选择定时时间"
                                   onclick="laydate({
                                       istime: true,
                                       min: laydate.now((new Date().getTime() + 10*60*1000), 'YYYY-MM-DD hh:mm'),
                                       format: 'YYYY-MM-DD hh:mm'})" name="startTime">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>评论间隔</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11">
                            <input id="min" class="am-radius am-input-sm speedTime" type="text" value="1" name="min">
                            至
                            <input id="max" class="am-radius am-input-sm speedTime" type="text" value="5" name="max">
                            分钟
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="contentSelf" class="am-u-sm-3 am-u-lg-1">
                            <span>评论内容</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11">
                                <textarea id="remark" class="am-radius" rows="3"
                                          placeholder="【每行一条内容】" name="content"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>任务总价</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11 am-g-collapse">
                            <div class="am-u-lg-1">
                                <input id="total" class="am-radius am-input-sm" type="text" value="￥ 0" disabled>
                            </div>
                            <div class="am-u-lg-11">
                                <span id="showNum" class="disable"></span>
                                <span class="tips">( 0.5金币起做,不足按0.5金币计算 )</span><br/>
                                <input id="userFunds" type="hidden" value="<%= money %>">
                            </div>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-offset-3 am-u-lg-11 am-u-lg-offset-1">
                            <button id="commit" type="submit" class="am-btn am-btn-primary am-radius">提交任务</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laydate/laydate.js"></script>

<script>
    require('forumTemplate');
</script>


</body>
</html>