
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="WXfansAdd.scss?__inline">
</head>
<body>

<% if(true){ %>
<div id="app">

    <link rel="import" href="../../components/header/header1.html?__inline">
    <link rel="import" href="../../components/menu/menu1.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/menuContent/menuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-g-collapse">

                    <div class="am-panel am-panel-danger">
                        <div class="am-panel-hd prompt-title">提示</div>
                        <div class="am-panel-bd">
                            1．单次下单上限1万，累计上限100万。<br/>
                            2．多次提交同一链接排队执行。<br/>
                            3．个别任务会有延时，显示完成后半小时之后会显示。<br/>
                        </div>
                    </div>

                    <form class="am-form am-form-horizontal" method="post" action="/wx/fans/add">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>任务价格</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                                <input class="am-radius am-input-sm input" type="text"
                                       value="微信粉丝￥<%= fansPrice %>/个" disabled>
                                <input id="price" type="hidden" value="<%= fansPrice %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>加粉账号</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11">
                                <input id="fansID" class="am-radius am-input-sm input" type="text" name="account"
                                       placeholder="请填写微信号或者ID">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>粉丝数量</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-11">
                                <input id="fansNum" class="am-radius am-input-sm input" type="text" name="num"
                                       placeholder="100 - 100000">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-1">
                                <span>任务总价</span>
                            </label>
                            <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                                <input id="total" class="am-radius am-input-sm input" type="text" value="￥ 0" disabled>
                                <input id="userFunds" type="hidden" value="<%= money %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-offset-3 am-u-lg-11 am-u-lg-offset-1">
                                <button id="commit" type="submit" class="am-btn am-btn-primary am-radius" >提交任务</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<% }else{ %>
<!--<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="wxReply" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd am-g-collapse">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">
                        1．单次下单上限1万，累计上限100万。<br/>
                        2．多次提交同一链接排队执行。<br/>
                        3．个别任务会有延时，显示完成后半小时之后会显示。<br/>
                    </div>
                </div>

                <form class="am-form am-form-horizontal" method="post" action="/wx/fans/add">
                    <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>任务价格</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                            <input class="am-radius am-input-sm input" type="text"
                                   value="微信粉丝￥<%= fansPrice %>/个" disabled>
                            <input id="price" type="hidden" value="<%= fansPrice %>">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>加粉账号</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11">
                            <input id="fansID" class="am-radius am-input-sm input" type="text" name="account"
                                   placeholder="请填写微信号或者ID">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>粉丝数量</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-11">
                            <input id="fansNum" class="am-radius am-input-sm input" type="text" name="num"
                                   placeholder="100 - 100000">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-u-lg-1">
                            <span>任务总价</span>
                        </label>
                        <div class="am-u-sm-9 am-u-lg-2 am-u-end">
                            <input id="total" class="am-radius am-input-sm input" type="text" value="￥ 0" disabled>
                            <input id="userFunds" type="hidden" value="<%= money %>">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-offset-3 am-u-lg-11 am-u-lg-offset-1">
                            <button id="commit" type="submit" class="am-btn am-btn-primary am-radius" >提交任务</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>-->
<% } %>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('WXfansAdd');
</script>

</body>
</html>
