<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <title><%=title%></title>

    <link rel="icon" type="image/png" href="/static/images/favicon.ico">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/favicon.ico">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/static/images/favicon.ico">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/static/css/amazeui.css">
    <link rel="stylesheet" href="../base.scss">

    <link rel="stylesheet" href="index.scss" >
</head>
<body>

<div id="login" class="login">
    <validator name="login">
        <form class="am-form am-form-horizontal am-u-sm-12 am-u-lg-4 am-u-lg-centered">
            <fieldset>
                <legend>网络营销管理系统</legend>

                <div class="am-form-group am-form-group-sm">
                    <label for="login-username" class="am-u-sm-3 am-form-label"><i class="am-icon-user am-icon-sm"></i> 用户名</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="login-username" class="am-form-field am-radius"  v-model="username"
                               placeholder="请输入账户名" v-validate:username="{ required: true}">
                        <span class="tips" v-if="$login.username.required">账户名不能为空!</span>
                    </div>
                </div>

                <div class="am-form-group am-form-group-sm">
                    <label for="login-password" class="am-u-sm-3 am-form-label"><i class="am-icon-key am-icon-sm"></i> 密码</label>
                    <div class="am-u-sm-9">
                        <input type="password" id="login-password" class="am-form-field am-radius" v-model="password"
                               placeholder="请输入密码" v-validate:password="{ required: true}">
                        <span class="tips" v-if="$login.password.required">密码不能为空!</span>
                    </div>
                </div>

                <div class="am-form-group am-form-group-sm">
                    <label for="login-password" class="am-u-sm-3 am-form-label"><i class="am-icon-refresh am-icon-sm"></i> 验证码</label>
                    <div class="am-u-sm-9 am-g-collapse">
                        <div class="am-u-sm-5">
                            <input type="text" class="am-form-field am-radius" v-model="securityCode"
                                   placeholder="区分大小写" v-validate:security-code="{ required: true}">
                        </div>
                        <div class="am-u-sm-7">
                            <img class="am-radius getSecurityCode" src="/securityImg" @click="changeImg"/>
                        </div>
                        <span class="tips" v-if="$login.securityCode.required">验证码不能为空!</span>
                    </div>
                </div>

                <div class="am-form-group am-form-group-sm">
                    <div class="am-u-sm-offset-3 am-u-sm-9">
                        <div class="am-checkbox">
                            <label>
                                <input type="checkbox"> 两周内免登陆
                            </label>
                        </div>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-offset-3">
                        <button class="am-btn am-btn-primary am-radius" @click="onLogin" v-if="$login.valid">登陆</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </validator>
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/jquery.js"></script>
<!--<![endif]-->

<!--[if lte IE 8 ]>
<script src="/static/js/jquery-1.11.1.js"></script>
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/amazeui.ie8polyfill.js"></script>
<![endif]-->
<script src="/static/js/amazeui.js"></script>

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script src="/static/js/mod.js"></script>

<script>
    require(['index']);
</script>

</body>
</html>