<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="rechargeHistory.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-form am-form-inline">
                    <div class="am-form-group am-form-group-sm search-title">
                        <label for="rechargeTotal" class="am-u-sm-3 am-form-label taskTypeLabel">充值金额</label>
                        <div class="am-u-sm-9 taskTypeWrap">
                            <input id="rechargeTotal" type="text" class="am-form-field am-input-sm am-radius" placeholder="">
                        </div>
                    </div>

                    <div class="am-form-group am-form-group-sm search-title">
                        <label for="rechargeTime" class="am-u-sm-3 am-form-label taskTypeLabel">充值时间</label>
                        <div class="am-u-sm-9 taskTypeWrap">
                            <input id="rechargeTime" type="text" class="am-form-field am-input-sm am-radius" placeholder="">
                        </div>
                    </div>

                    <div class="am-form-group am-form-group-sm">
                        <button class="am-btn am-btn-success am-radius am-btn-sm">
                            <i class="am-icon-search"></i>
                            搜索
                        </button>
                    </div>
                </div>

                <div class="am-scrollable-horizontal am-text-center flowTask-content">
                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>充值金额	</th>
                            <th>充值时间</th>
                            <th>订单号</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < recharges.length; i++){ %>
                        <tr>
                            <td class="am-text-middle"><%= i + 1 %></td>
                            <td class="am-text-middle"><%= recharges[i].funds %></td>
                            <td class="am-text-middle"><%= recharges[i].time %></td>
                            <td class="am-text-middle"><%= recharges[i].orderNum %></td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                    <input type="hidden" value="<%= pages %>" id="pages">
                    <div id="laypage"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    $(function() {
        laypage({
            cont: 'laypage',
            pages: $('#pages').val(), //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            skin: 'molv', //皮肤
            skip: true, //是否开启跳页
            groups: 3, //连续显示分页数
            last: $('#pages').val(),
            curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
                var page = location.search.match(/page=(\d+)/);
                return page ? page[1] : 1;
            }(),
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                    location.href = '?page='+e.curr;
                }
            }
        });
    })
</script>

</body>
</html>