.tips{
  color: red;
}

label{
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
  background: rgb(238, 238, 238);
}

.am-form-group .input{
  height: 32px;
}

@media (min-width: 600px) {
  form{
    padding-right: 88px;
  }
}

@media (min-width: 1000px) {
  form{
    padding: 0;
  }
}