<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="handleTaskAccount.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <form class="am-form am-form-horizontal" id="userInfo" method="post" action="/task/account">
                    <div class="tips" style="text-align: center;"><%= message %></div>

                    <div class="am-form-group">
                        <label for="five" class="am-u-sm-4 am-u-lg-2 am-form-label">微信账号</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input class="am-radius am-input-sm" type="text" id="five" v-model="taskAccount"
                                   name="taskAccount" value="<%= user.taskAccount %>" v-if="isEdit">
                            <span class="tips" v-if="isNone">任务账号不能为空!</span>
                            <p class="disable" v-if="!isEdit"><%= user.taskAccount %></p>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="six" class="am-u-sm-4 am-u-lg-2 am-form-label">微信昵称</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input class="am-radius am-input-sm" type="text" id="six" v-model="taskName"
                                   name="taskName" value="<%= user.taskName %>" v-if="isEdit">
                            <span class="tips" v-if="isNone">任务账号昵称不能为空!</span>
                            <p class="disable" v-if="!isEdit"><%= user.taskName %></p>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                            <button class="am-btn am-btn-primary am-radius am-btn-sm"
                                    @click.stop.prevent="edit" v-if="!isEdit">编辑</button>
                            <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm"
                                    @click="check" v-if="isEdit">保存</button>
                            <button class="am-btn am-btn-default am-radius am-btn-sm"
                                    @click.stop.prevent="cancel" v-if="isEdit">取消</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script>
    require('./handleTaskAccount');
</script>

</body>
</html>