<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="withdraw.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <a href="/user/withdraw/add" class="am-btn am-btn-success am-radius">
                    <i class="am-icon-plus-circle"></i>
                    我要提现
                </a>
                <div class="am-scrollable-horizontal am-text-center withdraw-content">
                    <table class="am-table am-table-bordered am-table-radius am-text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>申请日期</th>
                            <th>提现金额</th>
                            <th>支付宝账户</th>
                            <th>支付宝昵称</th>
                            <th>状态</th>
                            <th>失败反馈</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < withdraws.length; i++){ %>
                        <tr class="<% if(withdraws[i].status ==  '成功'){ %> am-primary
                         <% }else if(withdraws[i].status ==  '失败'){ %> am-danger <% } %>">
                            <td><%= i + 1 %></td>
                            <td><%= withdraws[i].createTime %></td>
                            <td><%= withdraws[i].funds %></td>
                            <td><%= withdraws[i].alipayCount %></td>
                            <td><%= withdraws[i].alipayName %></td>
                            <td><%= withdraws[i].status %></td>
                            <td><%= withdraws[i].refuseInfo %></td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

</body>
</html>